<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="r" class="com.velocity.Student">
		<constructor-arg value="Mumbai"></constructor-arg>
		<constructor-arg value="7057573915"></constructor-arg>
	</bean>
</beans>